<main class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Products</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= for product <- @products do %>
      <.product_card 
        product={product} 
        editing={@editing}
      />
    <% end %>
  </div>
</main>