<main>
    <section>
        Total stock available: <%= @total_stock %> products
    </section>

    <section>
        Best selling product: <%= @bestseller.title %>
        Pieces sold: <%= @bestseller.count %>
        Total earning from this product: <%= @bestseller.cost %>
    </section>

</main>